#
users=Користувачі

clients=Клієнти

goods_types=Види товару

goods_groupes=Групи товару

goods=Товари

orders=Замовлення

today_orders= Органайзер

spendings=Витрати

reports=Звіти

revisions=Ревізія

settings=Налаштування

report_by_debtor=Не оплачено
client_report = Клієнт. зам.
paiment = Оплати

units_of_measurement = Одиниці виміру